* {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #f1b505;
  --secondary-color: #f0f1f6;
  --text-color: #1d1d1d;
  --text-secondary: #adadad;
}

.main-container {
  padding: 0px 9%;
}

/* header start */

.header {
  /* background-color: burlywood; */
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  padding: 2% 0px;
}

.bitco {
  /* background-color: yellow; */
  margin: 1.2%;
  font-weight: 800;
  font-size: 1.3em;
}

.menu {
  /* background-color: yellowgreen; */
  display: flex;
  width: 50%;
}

.menu > div:first-child {
  /* background-color: antiquewhite; */
  margin-right: auto;
  /* font-size: 1.1em; */
  font-weight: 600;
  display: flex;
  padding: 3%;
  width: 60%;
  justify-content: space-between;
}
.menu > div > div:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 300ms;
}

.signIn {
  /* background-color: aquamarine; */
  padding: 3% 1.5%;
  width: 15%;
  text-transform: capitalize;
  /* font-size: 1.1em; */
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid var(--primary-color);
  text-align: center;
  transition: 300ms;
}

.signIn:hover {
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0.6;
}

/* header Finish */

/* jumbotron1 */
.jumbotron1 {
  /* background-color: burlywood; */
  display: flex;
  margin-top: 4%;
}
.jumbotron1 > div {
  flex: 1;
  padding: 1.5% 0px 1.5% 1.5%;
}

/* .jumbotron1 > div:nth-child(2) {
  background-color: yellow;
} */
.hurufGede {
  font-size: 3.5em;
  font-weight: 600;
  color: var(--text-color);
  /* letter-spacing: 3px; */
  margin: 5% 0px;
}

.gambar1 {
  height: 60vh;
  width: 100%;
}
/* .jumbotron1 p { */
p {
  color: var(--text-secondary);
  font-size: 1.2em;
  width: 73%;
  font-weight: 500;
}

.menu2 {
  margin-top: 10%;
}
.menu2 > .input-text {
  border-color: transparent;
  color: var(--text-secondary);
  border-radius: 10px;
  /* font-size: 1em; */
  width: 25%;
  margin-right: 7%;
  padding: 1.5%;
  box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
  -webkit-box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
  -moz-box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
}
.menu2 > .input-text:focus {
  outline: transparent;
}
.menu2 > .input-text::placeholder {
  color: var(--text-secondary);
  font-weight: 600;
}
.menu2 > button {
  padding: 3%;
  text-align: center;
  width: 25%;
  border-radius: 40px;
  border-color: transparent;
  background-color: var(--primary-color);
  font-weight: 800;
}
/* jumbotron1 */

/* hambuger */
.menu-bars {
  display: none;
  margin: 1.3%;
  position: relative;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.menu-button {
  background-color: black;
  width: 22px;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: content-box;
}
.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.5s;
}
.menu-button::before {
  transform: translateY(-6px);
}
.menu-button::after {
  transform: translateY(6px);
}
.menu-bars.open > .menu-button {
  /* transform: translateX(-50px); */
  background-color: transparent;
  transform: rotate(360deg);
}
.menu-bars.open > .menu-button::before {
  /* transform: rotate(45deg) translate(35px, -35px); */
  transform: rotate(45deg);
}
.menu-bars.open > .menu-button::after {
  /* transform: rotate(-45deg) translate(35px, 35px); */
  transform: rotate(-45deg);
}
/* sidebar */
.menu-sidebar {
  display: none;
}

/* container-2 and 3 */
.container-2,
.container-3 {
  display: flex;
  padding: 5%;
}
.container-3 {
  flex-direction: row-reverse;
}
.container-2 > div,
.container-3 > div {
  flex: 1;
  padding: 0 3%;
}
.container-2 button,
.container-3 button {
  margin-top: 3%;
  padding: 3%;
  text-align: center;
  width: 50%;
  border-radius: 40px;
  border-color: transparent;
  background-color: var(--secondary-color);
  font-weight: 800;
}

.container-4 {
  display: flex;
  justify-content: space-between;
  margin: 5% 9% 0 9%;
  padding: 3%;
  border-radius: 4px;
  box-shadow: 3px 6px 8px 0px rgba(117, 117, 117, 0.39);
  display: flex;
}
.container-4-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-4-in > div {
  flex: 1;
  margin: 0;
  padding: 0;
}
.container-4-in > div:nth-child(1) {
  font-size: 1.4em;
}
.container-4 > button {
  align-self: center;
  padding: 3%;
  text-align: center;
  width: 25%;
  border-radius: 40px;
  border-color: transparent;
  background-color: var(--primary-color);
  font-weight: 800;
}

.container-5 {
  padding: 9%;
  display: flex;
  flex-wrap: wrap;
}
.container-5 > div {
  flex-basis: 50%;
}
.container-5 > div:nth-child(2) {
  flex-direction: column;
  margin-bottom: 6%;
}
.container-5 input {
  border-color: transparent;
  color: var(--text-secondary);
  border-radius: 10px;
  /* font-size: 1em; */
  width: 100%;
  margin-right: 7%;
  margin-top: 3%;
  padding: 1.5%;
  box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
  -webkit-box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
  -moz-box-shadow: 0px 9px 17px 0px rgba(117, 117, 117, 0.39);
}
.container-5 button {
  padding: 3%;
  margin: 3%;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  border-color: transparent;
  background-color: var(--primary-color);
  font-weight: 800;
  color: #fff;
}

/* continer-6 */
.container-6 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.container-6 .hurufGede {
  font-size: 1em;
  margin: 0;
}
.container-6 p {
  font-size: 1em;
}
.container-6 > div:nth-child(1) {
  flex-basis: 30%;
}

/* for tablet */
@media only screen and (max-width: 768px) {
  /* Header */
  .menu {
    width: 70%;
  }
  .menu > div:first-child {
    margin-left: 8%;
  }
  .main-container {
    padding: 0px 3%;
  }
  .signIn {
    padding: 3% 0px;
    font-size: 1em;
    width: 22%;
  }
  /* Header */
  /* jumbotro1 */
  .hurufGede {
    font-size: 2.6em;
  }
  /* .jumbotron1 p { */
  p {
    color: var(--text-secondary);
    font-size: 0.9em;
    width: 100%;
    font-weight: 500;
  }
  .menu2 > .input-text {
    font-size: 0.8em;
    width: 90%;
    display: block;
    height: 4vh;
    border-radius: 200px;
  }
  .menu2 > .input-text::placeholder {
    color: var(--text-secondary);
    font-weight: 600;
    text-align: center;
  }
  .menu2 > button {
    display: block;
    margin-top: 5%;
    padding: 3%;
    width: 95%;
  }
  .menu2 {
    margin-top: 5%;
  }
  .jumbotron1 > div:nth-child(2) {
    /* background-color: yellow; */
    margin-top: -10% !important;
  }
  /* jumbotro1 */
}

/* for mobile */
@media only screen and (max-width: 600px) {
  /* Header */
  .menu {
    display: none;
  }

  /* sidebar */
  .menu-bars {
    display: flex;
  }
  .menu-sidebar {
    /* justify-content: space-around; */
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0;
    border-radius: 20px 0 0 20px;

    font-weight: 700;
    color: #fff;

    position: absolute;
    right: 0;
    top: 9vh;
    width: 30%;
    height: 300px;

    bottom: 60vh;
    transform: translateX(100%);
    transition: 0.7s;
  }
  .menu-sidebar > div {
    margin: 20px;
  }
  .menu-sidebar.open {
    opacity: 0.8;
    transform: translateX(0);
  }
  /* hide sidebar */
  body {
    overflow-x: hidden;
  }

  /* Header */
  /* jumbotron1 */
  .jumbotron1 {
    flex-direction: column;
  }
  .jumbotron1 > div:nth-child(2) {
    order: -1;
    margin-top: -10% !important;
  }
  .gambar1 {
    height: 30vh;
  }
  /* jumbotron1 */

  /* container-2/3 */
  .container-2,
  .container-3 {
    flex-direction: column;
  }

  /* container-4 */
  .container-4 {
    flex-direction: column;
  }
  .container-4 > button {
    margin-top: 10px;
    width: 50%;
  }

  /* .container-5 */
  .container-5 {
    flex-direction: column;
  }

  /* container-6 */
  .container-6 p {
    font-size: 0.8em;
  }
}
