body {
    font-family: "Roboto", helvetica, Arial, sans-serif;
}

.semi-bold {
    font-weight: 500;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* HERO BACKGROUND IMAGE SECTION */
.hero-img-container {
    height: 80vh;
    position: absolute;
    width: 100%;
    z-index: -100;
}

.hero-img-container > img {
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.hero-title-container {
    color: white;
    margin-top: 40vh;
    padding: 40px 40px 20px 80px;
    position: absolute;
    min-width: 700px;
    width: 40%;
}

.hero-title-container > h1 {
    margin-top: -1%;
    font-size: 5em;
    font-weight: 600;
    line-height: 0.8;
}



/* NAVIGATION BAR SECTION */
.custom-nav-btn {
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 0;
    width: 183px;
}

.custom-nav-btn:hover {
    background: #ECFDE3;
}

.custom-active {
    background: #88fe63 !important;
}

.nav-icon-size {
    cursor: pointer;
    font-size: 1.3em;
}

.vertical-line {
    background: rgb(18, 20, 22);
    height: 26px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1px;
    z-index: 99;
}

/* SEARCH ON NAVIGATION BAR SECTION */
.custom-search-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 1;
    padding: 0;
    width: auto;
}

.bottom-shadow {
    background-color: transparent;
    border-radius: 100px;
    height: 46px;
    margin: 0;
    min-width: 1100px;
    padding: 0;
    position: absolute;
    width: 1100px;
    box-shadow: 0 4px 2px -2px rgba(18,20,22,0.76);
    -webkit-box-shadow: 0 4px 2px -2px rgba(18,20,22,0.76);
    -moz-box-shadow: 0 4px 2px -2px rgba(18,20,22,0.76);
    z-index: -50;
}

.icon-position {
    margin-left: 10px;
    position: absolute;
}

.icon-search-position {
    background-color: rgb(18, 20, 22);
    border-radius: 100px;
    color: white;
    font-size: 0.8em;
    margin-left: 305px;
    padding: 12px;
    position: absolute;
}

.custom-search-wrapper:first-child > input {
    background: white;
    border: 1px solid rgb(18, 20, 22);
    border-right: transparent;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 46px;
    min-width: 300px;
    padding-left: 32px;
    width: 300px;
}

.custom-search-wrapper:nth-child(2) > input {
    background: white;
    border-bottom: 1px solid rgb(18, 20, 22);
    border-left: transparent;
    border-right: transparent;
    border-top: 1px solid rgb(18, 20, 22);
    height: 46px;
    min-width: 200px;
    padding-left: 35px;
    width: 200px;
}

.custom-search-wrapper:nth-child(3) > input {
    background: white;
    border-bottom: 1px solid rgb(18, 20, 22);
    border-left: transparent;
    border-right: transparent;
    border-top: 1px solid rgb(18, 20, 22);
    height: 46px;
    min-width: 250px;
    padding-left: 35px;
    width: 250px;
}

.custom-search-wrapper:nth-child(4) > input {
    background: white;
    border: 1px solid rgb(18, 20, 22);
    border-left: transparent;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 46px;
    min-width: 350px;
    padding-left: 40px;
    width: 350px;
}

.custom-search-wrapper > .vertical-line {
    background: rgb(18, 20, 22);
    height: 26px;
    margin-left: -1px;
    position: absolute;
    width: 1px;
    z-index: 99;
}

.custom-search-wrapper > input::placeholder {
    font-weight: 300;
}

.custom-search-wrapper > input:focus {
    outline: 0;
}
